html,
body,
.view {
    height: 100%;
    scroll-behavior: smooth;

}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media ( max-width: 776px ) {
    .carousel {
        height: 100%;
    }   
}

.page-footer {
    background-color: #929fba;
}

.button_prof {
    font-size: 16px;
    color: #ffffff;
    background: #929fba;
    border-radius: 7px;
    padding: 7px;
    transition: 0.3s;
}

.button_prof:hover {
    color: white;
    background: #3c5da4;
}



/* slide */
.image-slider {
    padding: 30px 0 70px 0;
}

.image-slider_image {
    align-items: center;
}
.image-slider_image img {
    max-width: 100%;
}

.button-header {
   background: #6161ffd4; 
   border-radius: 5px;
   margin-right: 25px;
}

.button-header-text {
    color: white;
    font-size: 15px;
}

/*  */


@media (max-width: 600px) {
    .li-element-info {
        text-align: center;
    }
}

.my-card {
    display: grid;
    justify-content: center;
}


.video-en {
    text-align: center;
    background: #929fba;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    margin: 15px;
    transition: .3s;
}

.video-en > a {
    color: white;
}

.li-element-info {
    display: flex;
}

.video-en:hover {
    background: #3c5da4;
    box-shadow: 3px 5px 32px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 5px 32px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 5px 32px -7px rgba(0,0,0,0.75);
}

@media (max-width: 650px) {
    .li-element-info {
        display: inline-grid;
    }
    
}